body{
    font-size: large;
    background-color: aqua;
    margin: 50px;
}
@media {

}
h1{
    margin-top: 90px;
    text-align: center;
}
div{
    background-color: rgb(0, 162, 255);
   
}
#Tip_number_4, #Tip_number_6, #Tip_number_2{
    background-color: rgb(0, 162, 255);
}

#navbar {
    position: fixed;
    top:10px;
    text-align:center;
    border-style: solid;
    border-color: blanchedalmond;
    background-color: blueviolet;
h1{
    margin-top: 80px;  
}

#topic1{
    margin-top: 80px;
}